.cardImg{
    position:relative;
    left:5%;
}
.cardDescription{
    font-size:20px;
}
.cardAction{
    margin-top:15px;
}
body{
    background-color:#E1F5FE;
}
.card{
    height:400px;
    position:relative;
}